@import "variables.scss";
@import "default.scss";
@import "nav.scss";
@import "body.scss";

.content-center {
  flex-direction: column;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15vh;
  width: 100%;
}

.about-me,
.education,
.skills,
.projects {
  text-align: center;
  max-width: 850px;
  line-height: 4vh;
  font-size: x-large;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: rgb(111, 81, 62);
  text-shadow: 0.5px 1px 2px white;
  font-weight: bold;
}

h2 {
  text-shadow: 0.5px 1px 2px white;
}

.about-me img {
  width: 40vh; /* Adjust this value to control the size */
  height: auto;
  border-radius: 50%;
}

.school-imgs {
  display: flex;
  justify-content: center;
  align-items: center;
}

.school-imgs img {
  width: 40vh;
  height: auto; /* Maintain aspect ratio */
  margin: 0 15vh; /* 10px horizontal spacing between images, adjust if needed */
}

.skills img {
  width: 65vh;
  height: auto;
}

.freeBody img {
  width: 60vh;
  height: 35vh;
  border-radius: 8%;
}

.flower-shop img {
  width: 60vh;
  height: 35vh;
  border-radius: 10%;
}

.word-game img {
  width: 58vh;
  height: 35vh;
  border-radius: 10%;
}

.freeBody,
.flower-shop,
.word-game {
  display: flex;
  flex-direction: row;
  margin-bottom: 3vh;
}

.projects a:hover img {
  opacity: 0.5;
}

hr {
  width: 50%; /* Set width to 50% of its container */
  height: 1.5px; /* Set the height/thickness of the line */
  background-color: rgb(111, 81, 62); /* Set the color of the line */
  border: none; /* Remove any border */
  margin-top: 20px; /* Add space above the line */
  margin-bottom: 20px; /* Add space below the line */
}

* {
  border: solid thin red;
}

@media (max-width: $smBreak) {
  .education {
    display: flex;
    flex-direction: column;
  }
  .school-imgs,
  .skills-imgs,
  .project {
    flex-direction: column;
    img {
      max-width: 100%;
    }
  }
}
