body {
  display: flex;
  flex-direction: column;
  background-size: cover;
  position: relative;
  min-height: 100vh; /* Added this line */
  background-attachment: fixed;
}

body::before {
  content: "";
  background-image: url("images/flowers.jpg");
  background-repeat: repeat; /* Added this line */
  filter: blur(10px);
  position: fixed; /* Change from absolute to fixed */
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}

nav {
  height: 60px;
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: rgb(111, 81, 62);

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

nav h1 {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
  text-align: center;
  margin: 0; /* Reset default margins */
  padding: 0; /* Reset default padding */
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: white;
  font-size: 4vh;
  pointer-events: none; /* Makes the h1 element ignore pointer/click events, allowing interactions with elements behind it */
  z-index: 1; /* Ensure h1 is on top so it's visible */
}

nav a {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2; /* Ensure links are clickable above h1 */
}

nav a:not(:last-child) {
  margin-right: 40px;
}

nav a:last-child {
  margin-right: 20px;
}

nav a:hover img {
  opacity: 0.5;
}

nav h1:hover {
  opacity: 0.5;
}

.content-center {
  flex-direction: column;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15vh;
}

.about-me,
.education,
.skills,
.projects {
  text-align: center;
  padding-left: 35vh;
  padding-right: 35vh;
  line-height: 4vh;
  font-size: x-large;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: rgb(111, 81, 62);
  text-shadow: 0.5px 1px 2px white;
  font-weight: bold;
}

h2 {
  text-shadow: 0.5px 1px 2px white;
}

.about-me img {
  width: 40vh; /* Adjust this value to control the size */
  height: auto;
  border-radius: 50%;
}

.school-imgs {
  display: flex;
  justify-content: center;
  align-items: center;
}

.school-imgs img {
  width: 40vh;
  height: auto; /* Maintain aspect ratio */
  margin: 0 15vh; /* 10px horizontal spacing between images, adjust if needed */
}

.skills img {
  width: 65vh;
  height: auto;
}

.freeBody img {
  width: 60vh;
  height: 35vh;
  border-radius: 8%;
}

.flower-shop img {
  width: 60vh;
  height: 35vh;
  border-radius: 10%;
}

.word-game img {
  width: 58vh;
  height: 35vh;
  border-radius: 10%;
}

.freeBody,
.flower-shop,
.word-game {
  display: flex;
  flex-direction: row;
  margin-bottom: 3vh;
}

.projects a:hover img {
  opacity: 0.5;
}

hr {
  width: 50%; /* Set width to 50% of its container */
  height: 1.5px; /* Set the height/thickness of the line */
  background-color: rgb(111, 81, 62); /* Set the color of the line */
  border: none; /* Remove any border */
  margin-top: 20px; /* Add space above the line */
  margin-bottom: 20px; /* Add space below the line */
}
